
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board {
    width: 315px;
    height: 315px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.game-board__tile {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

.black_text {
    color: black;
}

.red_text {
    color: red;
}